/** Reset **/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

$primary: #2c3e50;
$secondary: #edf5e1;
$bg-color: #ecf0f1;

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
strong,
a {
  font-family: "Lato", sans-serif;
  color: $primary;
}

body {
  background: $bg-color;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin: 2rem 0 1.5rem;

  h1 {
  }

  p {
    font-size: 1.3rem;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;

  .item {
    position: relative;
    width: 100%;
    margin-bottom: 4%;
    background: $primary;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }

    img {
      width: 100%;
    }

    .details {
      padding: 8px 16px 16px;

      h2,
      p,
      a {
        color: $secondary;
      }

      p {
        margin: 0.5rem 0 40px;
        line-height: 1.3;
      }

      .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $primary;
        background: $bg-color;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  @media (min-width: 550px) {
    margin-inline-start: -2%;

    .item {
      margin-bottom: 2%;
      margin-inline-start: 2%;
      width: calc(96% / 2);
    }
  }

  @media (min-width: 991px) {
    .item {
      width: calc(94% / 3);
    }
  }

  // @media (min-width: 1170px) {
  //   .item {
  //     width: calc(92% / 4);
  //   }
  // }
}
